html
    head
        title Artwork
        link(rel='stylesheet', href='/styles.css')
        script(src='/js/client.js')
    
    body(onload='loadArtworkPage()')
        include header.pug
        h2 Artwork
        div#result-container