html
    head
        title Dashboard
        script(src='/js/client.js')
        link(rel='stylesheet', href='/styles.css')
    
    body
        include header.pug
        h2=`Welcome ${firstname}`

        div(class='dashboard-options')
            ul
                li
                    a(href='/user/following') View artist you follow
                li
                    a(href='/user/workshops-joined') View workshops you have joined

                if artist
                    li
                        a(href='/user/workshops-hosted') View workshops you have hosted
                    li
                        a(href='/workshops/create-workshop') Create a workshop
                    li
                        a(href='/gallery/add-artwork') Post an artpiece
        
        if artist
            h4 Your artwork
            if artwork.length == 0
                p No posts yet!
            else
                ul#artwork-list
                    each artpiece in artwork
                        li
                            a(href=`/gallery/view-art/${artpiece}`)=artpiece
        
        div(class='dashboard-bottom')
            div(class='notifications-container')
                h4 Your notifications
                if notifications.length == 0
                        li No notifications yet!

            div(class='likes-container')
                h4 Your likes
                if likes.length == 0
                    li No likes yet!
                else
                    ul#likes-list
                        each like in likes
                            li
                                a(href=`/gallery/view-art/${like}`)=like