html
    head
        link(rel='stylesheet', href='/styles.css')
    body
        div(class='header')
            a(href='/users/dashboard') Dashboard
            a(href='/users/account') Account
            a(href='/users/logOut') Log Out