body {
    background-color:ghostwhite;
    font-family: Helvetica;
}

div.header {
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 240);
    height: 7%;
}

a {
    margin-right: 1%;
}

li {
    margin-bottom: 0.5%;
}

div.account-info {
    background-color: rgb(240, 240, 240);
    width: 40%;
    padding: 1%;
}

label {
    margin-right: 1%;
}

div.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    padding: 2%;
    margin-top: 2%;
    background-color: rgb(240, 240, 240);
}

p,
button {
    margin: 0.6%;
}

input {
    margin-bottom: 4%;
}

select {
    margin-bottom: 4%;
}

div.form h4 {
    margin: 0.6%;
    text-align: center;
}

div.dashboard-options {
    background-color: rgb(240, 240, 240);
    padding: 0.25%;
}

h2.artpiece-title {
    text-align: center;
}

img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

div.artpiece-container {
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    text-align: center;
    display: block;
}